*{margin: 0;
padding: 0;
font-family: 'Arvo', serif; /* Use a fonte Arvo */}

header {
    background-color: #860606;
    color: white;
    padding: 8px;
    /* Reduzido o padding do cabeçalho */
    text-align: center;
    position: relative;
}

header img {
    width: 200px;
    /* Ajuste o tamanho da logo conforme necessário */
    height: auto;
    /* Mantém a proporção da imagem */
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    /* Ajustado para se adequar ao layout */
}

.search-bar .back-button {
    margin-right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.search-bar .back-button img {
    width: 24px;
    height: 24px;
}

.search-bar .search-input-container {
    position: relative;
    width: 50%;
    /* Centraliza e define a largura da barra de pesquisa */
}

.search-bar input[type="text"] {
    width: 100%;
    padding: 10px 10px 10px 20px;
    /* Adiciona espaço para o ícone */
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
}

.search-bar .search-input-container img {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.title {
    text-align: center;
    font-size: 24px;
    margin: 20px auto;
    color: #333;
    width: 80%;
    /* Garante que o título ocupe toda a largura disponível */
    display: flex;
    justify-content: center;
    /* Centraliza horizontalmente */
}

/*cabecalho e titulo padrão */

  .btn-editar {
    background-color: #FF6B00;
    color: #fff;
  }
  