    <!DOCTYPE html>
    <html lang="pt-BR">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Checklist carro</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="../public/css/style_checklist_mecanico.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    </head>

    <body>
        <header>
            <img src="/img/logo.png" alt="Logo">
        </header>
    
        <div class="container">
            <!-- Novo cabeçalho com grid do Bootstrap -->
            <div class="row align-items-center mb-4">
                <div class="col-2">
                    <a href="/home_mecanico" class="btn btn-light btn-sm">
                        <img src="/img/seta.png" alt="Voltar" style="width: 20px; height: 20px;">
                    </a>
                </div>
                <div class="col-8 text-center">
                    <h1 class="mb-0">Checklist</h1>
                </div>
                <div class="col-2">
                    <!-- Espaço vazio para balancear o layout -->
                </div>
            </div>
            <h2>Itens Internos</h2> 
            <div class="row">
                <div class="col-md-6">
                    <div class="item-group">
                        <form action="/inspecao_entrada/<%= placa %>" method="post"> 
                            <input type="hidden" name="placa" value="<%= placa %>">
                        
                            <div class="item-list">
                                <div class="item-name">Kit Multimídia/ Rádio AM/FM</div>
                                <div class="item-status">
                                    <select name="kit_multimidia_radio_am_fm">
                                        <option value="ok">OK</option>
                                        <option value="falta">Falta</option>
                                        <option value="vazio">Vazio (Não Tem)</option>
                                        <option value="nao_funciona">Não Funciona</option>
                                        <option value="quebrado">Quebrado</option>
                                        <option value="riscado">Riscado</option>
                                    </select>
                                </div>
                            </div>
                            <div class="item-list">
                                <div class="item-name">Extintor de incêndio</div>
                                <div class="item-status">
                                    <select name="extintor_de_incendio">
                                        <option value="ok">OK</option>
                                        <option value="falta">Falta</option>
                                        <option value="vazio">Vazio (Não Tem)</option>
                                        <option value="nao_funciona">Não Funciona</option>
                                    </select>
                                </div>
                            </div>
                            <div class="item-list">
                                <div class="item-name">Tag - sem parar</div>
                                <div class="item-status">
                                    <select name="tag">
                                        <option value="ok">OK</option>
                                        <option value="vazio">Vazio (Não Tem)</option>
                                        <option value="nao_funciona">Não Funciona</option>
                                    </select>
                                </div>
                            </div>
                            <div class="item-list">
                                <div class="item-name">Cinto de segurança</div>
                                <div class="item-status">
                                    <select name="cinto_de_seguranca">
                                        <option value="ok">OK</option>
                                        <option value="enferrujado">Enferrujado</option>
                                        <option value="rasgado">Rasgado</option>
                                        <option value="quebrado">Quebrado</option>
                                    </select>
                                </div>
                            </div>
                            <div class="item-list">
                                <div class="item-name">Triângulo de segurança</div>
                                <div class="item-status">
                                    <select name="triangulo_de_seguranca">
                                        <option value="ok">OK</option>
                                        <option value="vazio">Vazio (Não Tem)</option>
                                        <option value="quebrado">Quebrado</option>
                                    </select>
                                </div>
                            </div>
                            <div class="item-list">
                                <div class="item-name">Estepe</div>
                                <div class="item-status">
                                    <select name="estepe">
                                        <option value="ok">OK</option>
                                        <option value="falta">Falta</option>
                                        <option value="rasgado">Rasgado</option>
                                        <option value="vazio">Vazio (Não Tem)</option>
                                        <option value="nao_funciona">Não Funciona</option>
                                        <option value="amassado">Amassado</option>
                                    </select>
                                </div>
                            </div>
                            <div class="item-list">
                                <div class="item-name">Quilometragem</div>
                                <div class="item-status">
                                    <input type="text" name="quilometragem" style="max-width: 150px; height: 30px;">
                                </div>
                            </div>
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="item-group">
                                    <div class="item-list">
                                        <div class="item-name">Macaco</div>
                                        <div class="item-status">
                                            <select name="macaco">
                                                <option value="ok">OK</option>
                                                <option value="falta">Falta</option>
                                                <option value="enferrujado">Enferrujado</option>
                                                <option value="vazio">Vazio (Não Tem)</option>
                                                <option value="nao_funciona">Não Funciona</option>
                                                <option value="quebrado">Quebrado</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="item-list">
                                        <div class="item-name">Chave de Roda</div>
                                        <div class="item-status">
                                            <select name="chave_de_roda">
                                                <option value="ok">OK</option>
                                                <option value="falta">Falta</option>
                                                <option value="enferrujado">Enferrujado</option>
                                                <option value="vazio">Vazio (Não Tem)</option>
                                                <option value="quebrado">Quebrado</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="item-list">
                                        <div class="item-name">Extintor</div>
                                        <div class="item-status">
                                            <select name="extintor">
                                                <option value="ok">OK</option>
                                                <option value="falta">Falta</option>
                                                <option value="enferrujado">Enferrujado</option>
                                                <option value="vazio">Vazio (Não Tem)</option>
                                                <option value="nao_funciona">Não Funciona</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="item-list">
                                        <div class="item-name">Estofamento</div>
                                        <div class="item-status">
                                            <select name="estofamento">
                                                <option value="ok">OK</option>
                                                <option value="falta">Falta</option>
                                                <option value="descascado">Descascado</option>
                                                <option value="rasgado">Rasgado</option>
                                                <option value="vazio">Vazio (Não Tem)</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="item-list">
                                        <div class="item-name">Tacógrafo</div>
                                        <div class="item-status">
                                            <select name="tacografo">
                                                <option value="ok">OK</option>
                                                <option value="falta">Falta</option>
                                                <option value="vazio">Vazio (Não Tem)</option>
                                                <option value="nao_funciona">Não Funciona</option>
                                                <option value="quebrado">Quebrado</option>
                                                <option value="riscado">Riscado</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="item-list">
                                        <div class="item-name">Certificado ANTT</div>
                                        <div class="item-status">
                                            <select name="certificado_ant">
                                                <option value="ok">OK</option>
                                                <option value="falta">Falta</option>
                                                <option value="vazio">Vazio (Não Tem)</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="item-list">
                                        <div class="item-name">Nível de Combustível</div>
                                        <div class="item-status">
                                            <input type="text" name="nivel_combustivel" style="max-width: 150px; height: 30px;">
                                        </div>
                                    </div>
                            </div>
                                </div>
                            </div>

                            <h2>Itens Externos</h2> 
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="item-group">
                                            <div class="item-list">
                                                <div class="item-name">Para-Lama Dianteiro Direito</div>
                                                <div class="item-status">
                                                    <select name="para_lama_dianteiro_direito">
                                                        <option value="ok">OK</option>
                                                        <option value="falta">Falta</option>
                                                        <option value="descascado">Descascado</option>
                                                        <option value="vazio">Vazio (Não Tem)</option>
                                                        <option value="quebrado">Quebrado</option>
                                                        <option value="amassado">Amassado</option>
                                                        <option value="riscado">Riscado</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="item-list">
                                                <div class="item-name">Para-Lama Traseiro Direito</div>
                                                <div class="item-status">
                                                    <select name="para_lama_traseiro_direito">
                                                        <option value="ok">OK</option>
                                                        <option value="falta">Falta</option>
                                                        <option value="descascado">Descascado</option>
                                                        <option value="vazio">Vazio (Não Tem)</option>
                                                        <option value="quebrado">Quebrado</option>
                                                        <option value="amassado">Amassado</option>
                                                        <option value="riscado">Riscado</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="item-list">
                                                <div class="item-name">Para-Lama Dianteiro Esquerdo</div>
                                                <div class="item-status">
                                                    <select name="para_lama_dianteiro_esquerdo">
                                                        <option value="ok">OK</option>
                                                        <option value="falta">Falta</option>
                                                        <option value="descascado">Descascado</option>
                                                        <option value="vazio">Vazio (Não Tem)</option>
                                                        <option value="quebrado">Quebrado</option>
                                                        <option value="amassado">Amassado</option>
                                                        <option value="riscado">Riscado</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="item-list">
                                                <div class="item-name">Para-Lama Traseiro Esquerdo</div>
                                                <div class="item-status">
                                                    <select name="para_lama_traseiro_esquerdo">
                                                        <option value="ok">OK</option>
                                                        <option value="falta">Falta</option>
                                                        <option value="descascado">Descascado</option>
                                                        <option value="vazio">Vazio (Não Tem)</option>
                                                        <option value="quebrado">Quebrado</option>
                                                        <option value="amassado">Amassado</option>
                                                        <option value="riscado">Riscado</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="item-list">
                                                <div class="item-name">Teto</div>
                                                <div class="item-status">
                                                    <select name="teto">
                                                        <option value="ok">OK</option>
                                                        <option value="falta">Falta</option>
                                                        <option value="descascado">Descascado</option>
                                                        <option value="vazio">Vazio (Não Tem)</option>
                                                        <option value="quebrado">Quebrado</option>
                                                        <option value="amassado">Amassado</option>
                                                        <option value="riscado">Riscado</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="item-list">
                                                <div class="item-name">Capô do Motor</div>
                                                <div class="item-status">
                                                    <select name="capo_do_motor">
                                                        <option value="ok">OK</option>
                                                        <option value="falta">Falta</option>
                                                        <option value="descascado">Descascado</option>
                                                        <option value="vazio">Vazio (Não Tem)</option>
                                                        <option value="quebrado">Quebrado</option>
                                                        <option value="amassado">Amassado</option>
                                                        <option value="riscado">Riscado</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="item-list">
                                                <div class="item-name">Para-Choque Dianteiro</div>
                                                <div class="item-status">
                                                    <select name="para_choque_dianteiro">
                                                        <option value="ok">OK</option>
                                                        <option value="falta">Falta</option>
                                                        <option value="descascado">Descascado</option>
                                                        <option value="vazio">Vazio (Não Tem)</option>
                                                        <option value="quebrado">Quebrado</option>
                                                        <option value="amassado">Amassado</option>
                                                        <option value="riscado">Riscado</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="item-list">
                                                <div class="item-name">Para-Choque Traseiro</div>
                                                <div class="item-status">
                                                    <select name="para_choque_traseiro">
                                                        <option value="ok">OK</option>
                                                        <option value="falta">Falta</option>
                                                        <option value="descascado">Descascado</option>
                                                        <option value="vazio">Vazio (Não Tem)</option>
                                                        <option value="quebrado">Quebrado</option>
                                                        <option value="amassado">Amassado</option>
                                                        <option value="riscado">Riscado</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="item-list">
                                                <div class="item-name">Para-Brisa Dianteiro</div>
                                                <div class="item-status">
                                                    <select name="para_brisa_dianteiro">
                                                        <option value="ok">OK</option>
                                                        <option value="falta">Falta</option>
                                                        <option value="descascado">Descascado</option>
                                                        <option value="vazio">Vazio (Não Tem)</option>
                                                        <option value="quebrado">Quebrado</option>
                                                        <option value="riscado">Riscado</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="item-list">
                                                <div class="item-name">Para-Brisa Traseiro</div>
                                                <div class="item-status">
                                                    <select name="para_brisa_traseiro">
                                                        <option value="ok">OK</option>
                                                        <option value="falta">Falta</option>
                                                        <option value="descascado">Descascado</option>
                                                        <option value="vazio">Vazio (Não Tem)</option>
                                                        <option value="quebrado">Quebrado</option>
                                                        <option value="riscado">Riscado</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="item-list">
                                                <div class="item-name">Vidros Laterais Direito</div>
                                                <div class="item-status">
                                                    <select name="vidro_lateral_direito">
                                                        <option value="ok">OK</option>
                                                        <option value="falta">Falta</option>
                                                        <option value="descascado">Descascado</option>
                                                        <option value="vazio">Vazio (Não Tem)</option>
                                                        <option value="quebrado">Quebrado</option>
                                                        <option value="riscado">Riscado</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="item-list">
                                                <div class="item-name">Vidros Laterais Esquerdo</div>
                                                <div class="item-status">
                                                    <select name="vidro_lateral_esquerdo">
                                                        <option value="ok">OK</option>
                                                        <option value="falta">Falta</option>
                                                        <option value="descascado">Descascado</option>
                                                        <option value="vazio">Vazio (Não Tem)</option>
                                                        <option value="quebrado">Quebrado</option>
                                                        <option value="riscado">Riscado</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="item-list">
                                                <div class="item-name">Porta Dianteira Direita</div>
                                                <div class="item-status">
                                                    <select name="porta_dianteira_direita">
                                                        <option value="ok">OK</option>
                                                        <option value="falta">Falta</option>
                                                        <option value="descascado">Descascado</option>
                                                        <option value="enferrujado">Enferrujado</option>
                                                        <option value="vazio">Vazio (Não Tem)</option>
                                                        <option value="nao_funciona">Não Funciona</option>
                                                        <option value="quebrado">Quebrado</option>
                                                        <option value="amassado">Amassado</option>
                                                        <option value="riscado">Riscado</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="item-list">
                                                <div class="item-name">Porta Traseira Direita</div>
                                                <div class="item-status">
                                                    <select name="porta_traseira_direita">
                                                        <option value="ok">OK</option>
                                                        <option value="falta">Falta</option>
                                                        <option value="descascado">Descascado</option>
                                                        <option value="enferrujado">Enferrujado</option>
                                                        <option value="vazio">Vazio (Não Tem)</option>
                                                        <option value="nao_funciona">Não Funciona</option>
                                                        <option value="quebrado">Quebrado</option>
                                                        <option value="amassado">Amassado</option>
                                                        <option value="riscado">Riscado</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="item-list">
                                                <div class="item-name">Porta Dianteira Esquerda</div>
                                                <div class="item-status">
                                                    <select name="porta_dianteira_esquerda">
                                                        <option value="ok">OK</option>
                                                        <option value="falta">Falta</option>
                                                        <option value="descascado">Descascado</option>
                                                        <option value="enferrujado">Enferrujado</option>
                                                        <option value="vazio">Vazio (Não Tem)</option>
                                                        <option value="nao_funciona">Não Funciona</option>
                                                        <option value="quebrado">Quebrado</option>
                                                        <option value="amassado">Amassado</option>
                                                        <option value="riscado">Riscado</option>
                                                    </select>
                                                </div>
                                            </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="item-group">
                                            <div class="item-list">
                                                <div class="item-name">Porta Traseira Esquerda</div>
                                                <div class="item-status">
                                                    <select name="porta_traseira_esquerda">
                                                        <option value="ok">OK</option>
                                                        <option value="falta">Falta</option>
                                                        <option value="descascado">Descascado</option>
                                                        <option value="enferrujado">Enferrujado</option>
                                                        <option value="vazio">Vazio (Não Tem)</option>
                                                        <option value="nao_funciona">Não Funciona</option>
                                                        <option value="quebrado">Quebrado</option>
                                                        <option value="amassado">Amassado</option>
                                                        <option value="riscado">Riscado</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="item-list">
                                                <div class="item-name">Pintura Padrão</div>
                                                <div class="item-status">
                                                    <select name="pintura_padrao">
                                                        <option value="ok">OK</option>
                                                        <option value="falta">Falta</option>
                                                        <option value="descascado">Descascado</option>
                                                        <option value="vazio">Vazio (Não Tem)</option>
                                                        <option value="riscado">Riscado</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="item-list">
                                                <div class="item-name">Limpador de Para-Brisa Dianteiro</div>
                                                <div class="item-status">
                                                    <select name="limpador_de_para_brisa_dianteiro">
                                                        <option value="ok">OK</option>
                                                        <option value="falta">Falta</option>
                                                        <option value="vazio">Vazio (Não Tem)</option>
                                                        <option value="nao_funciona">Não Funciona</option>
                                                        <option value="quebrado">Quebrado</option>

                                                    </select>
                                                </div>
                                            </div>
                                            <div class="item-list">
                                                <div class="item-name">Limpador de Para-Brisa Traseiro</div>
                                                <div class="item-status">
                                                    <select name="limpador_para_brisa_traseiro">
                                                        <option value="ok">OK</option>
                                                        <option value="falta">Falta</option>
                                                        <option value="vazio">Vazio (Não Tem)</option>
                                                        <option value="nao_funciona">Não Funciona</option>
                                                        <option value="quebrado">Quebrado</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="item-list">
                                                <div class="item-name">Lentes do Farol</div>
                                                <div class="item-status">
                                                    <select name="lentes_do_farol">
                                                        <option value="ok">OK</option>
                                                        <option value="falta">Falta</option>
                                                        <option value="descascado">Descascado</option>
                                                        <option value="vazio">Vazio (Não Tem)</option>
                                                        <option value="quebrado">Quebrado</option>
                                                        <option value="riscado">Riscado</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="item-list">
                                                <div class="item-name">Lentes da Lanterna</div>
                                                <div class="item-status">
                                                    <select name="lentes_de_lanterna">
                                                        <option value="ok">OK</option>
                                                        <option value="falta">Falta</option>
                                                        <option value="descascado">Descascado</option>
                                                        <option value="vazio">Vazio (Não Tem)</option>
                                                        <option value="quebrado">Quebrado</option>
                                                        <option value="riscado">Riscado</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="item-list">
                                                <div class="item-name">Luz de Freio</div>
                                                <div class="item-status">
                                                    <select name="luz_de_freio">
                                                        <option value="ok">OK</option>
                                                        <option value="falta">Falta</option>
                                                        <option value="descascado">Descascado</option>
                                                        <option value="vazio">Vazio (Não Tem)</option>
                                                        <option value="nao_funciona">Não Funciona</option>
                                                        <option value="quebrado">Quebrado</option>
                                                        <option value="riscado">Riscado</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="item-list">
                                                <div class="item-name">Luz de Direção (Seta)</div>
                                                <div class="item-status">
                                                    <select name="luz_de_direcao">
                                                        <option value="ok">OK</option>
                                                        <option value="falta">Falta</option>
                                                        <option value="descascado">Descascado</option>
                                                        <option value="vazio">Vazio (Não Tem)</option>
                                                        <option value="nao_funciona">Não Funciona</option>
                                                        <option value="quebrado">Quebrado</option>
                                                        <option value="riscado">Riscado</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="item-list">
                                                <div class="item-name">Luz de Ré</div>
                                                <div class="item-status">
                                                    <select name="luz_de_re">
                                                        <option value="ok">OK</option>
                                                        <option value="falta">Falta</option>
                                                        <option value="descascado">Descascado</option>
                                                        <option value="vazio">Vazio (Não Tem)</option>
                                                        <option value="nao_funciona">Não Funciona</option>
                                                        <option value="quebrado">Quebrado</option>
                                                        <option value="riscado">Riscado</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="item-list">
                                                <div class="item-name">Bateria</div>
                                                <div class="item-status">
                                                    <select name="bateria">
                                                        <option value="ok">OK</option>
                                                        <option value="falta">Falta</option>
                                                        <option value="vazio">Vazio (Não Tem)</option>
                                                        <option value="nao_funciona">Não Funciona</option>
                                                        <option value="quebrado">Quebrado</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="item-list">
                                                <div class="item-name">Placa</div>
                                                <div class="item-status">
                                                    <select name="placa">
                                                        <option value="ok">OK</option>
                                                        <option value="falta">Falta</option>
                                                        <option value="descascado">Descascado</option>
                                                        <option value="enferrujado">Enferrujado</option>
                                                        <option value="vazio">Vazio (Não Tem)</option>
                                                        <option value="quebrado">Quebrado</option>
                                                        <option value="amassado">Amassado</option>
                                                        <option value="riscado">Riscado</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="item-list">
                                                <div class="item-name">Estado dos Pneus</div>
                                                <div class="item-status">
                                                    <select name="estado_dos_pneus">
                                                        <option value="ok">OK</option>
                                                        <option value="rasgado">Rasgado</option>
                                                        <option value="vazio">Vazio (Não Tem)</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="item-list">
                                                <div class="item-name">Marcação dos Pneus</div>
                                                <div class="item-status">
                                                    <input type="text" name="marcacao_dos_pneus_traseiro" style="max-width: 150px; height: 30px;">
                                                </div>
                                            </div>
                                            <div class="item-list">
                                                <div class="item-name">Nível de Água no Limpador de Para-Brisa</div>
                                                <div class="item-status">
                                                    <input type="text" name="nivel_de_agua_no_limpador_de_parabrisa" style="max-width: 150px; height: 30px;">
                                                </div>
                                            </div>
                                            <div class="item-list">
                                                <div class="item-name">Nível de Óleo</div>
                                                <div class="item-status">
                                                    <input type="text" name="nivel_de_oleo" style="max-width: 150px; height: 30px;">
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                    

                            <div class="botao-enviar">
                                <button type="submit" class="button">Enviar checklist</button>
                            </div>
            </form>

        </div>
    </body>

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Arvo', serif;
        }

        body {
            margin: 0;
            padding: 0;
            background-color: #ffffff;
        }

        header {
            background-color: #000000;
            color: white;
            padding: 8px;
            text-align: center;
            position: relative;
        }

        header img {
            width: 200px;
            height: auto;
        }

        .container {
            width: 90%;
            max-width: 1800px;
            margin: 20px auto;
            background-color: #fcfcfc;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
            color: #333;
        }

        h2 {
            text-align: center;
            color: #000000;
            margin-top: 30px;
            background-color: #c7c7c7;
            border-radius: 5px;
        }

        .item-group {
            margin-bottom: 10px;
        }

        .item-list {
            display: flex;
            align-items: center;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 3px;
            margin-bottom: 5px;
        }

        .item-name {
            flex: 1;
            min-width: 200px;
        }

        .item-status {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 200px;
        }

        .item-status input {
            width: 100%;
            padding: 5px;
            border: 1px solid #ddd;
            border-radius: 3px;
            background-color: #fff;
            box-sizing: border-box;
            height: 30px;
        }

        .item-status select {
            width: 100%;
            max-width: 200px;
            padding: 5px;
            box-sizing: border-box;
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 3px;
        }

        .item-status input {
            width: 200px;
        }

        .botao-enviar {
            text-align: center;
            margin-top: 20px;
        }

        .botao-enviar button {
            background-color: #138132;
            color: #fff;
            padding: 10px 20px;
            border: none;}  

            .back-button img {
    width: 20px;
    height: 20px;
}
