<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="adm.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">

    <title>Home Mecânico</title>
</head>

<body>
    <header>
        <img src="/img/logo.png" alt="Logo">
        <div class="user-icon" data-toggle="modal" data-target="#userModal">
            <img src="/img/user.png" alt="Ícone de usuário">
        </div>


        <div class="user-icon2" data-toggle="modal" data-target="#logoutModal">
            <img src="/img/sair.png" alt="Ícone de Sair">
        </div></a>
    </header>
    </div>

    <div class="title">
        <h3>Página Inicial</h3>
    </div>

    <div class="container">
        <div class="card-container">
            <div class="card-item">
                <a href="/clientes_mecanico">
                <div class="card">
                        <img src="/img/clientes.png" alt="Clientes">
                </div>
            </a>
                <p class="card-title">Clientes</p>
            </div>

            <div class="card-item">
                <a href="/inspecao_manutencao_pendente"> 
                <div class="card">
                        <img src="/img/inspecao.png" alt="inspeções de Manutenção Pendente">
                </div>
            </a>
                <p class="card-title">Inspeção de Manutenção Pendente</p>
            </div>

            <div class="card-item">
                <a href="/manutencoes_andamento">
                <div class="card">
                        <img src="/img/veiculos.png" alt="Veículos em Manutenção">
                </div>
            </a>
                <p class="card-title">Manutenção em Andamento</p>
            </div>

            <div class="card-item">
                <a href="/manutencoes_finalizadas_mecanico">
                <div class="card">
                        <img src="/img/manutencao.png" alt="Manutenções Finalizadas">
                </div>
            </a>
                <p class="card-title">Manutenções Finalizadas</p>
            </div>
        </div>
    </div>

    <!-- Modal de Informações do Mecânico -->
    <div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="userModalLabel">Informações do Mecânico</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p><strong>Nome:</strong> Nome do Mecânico</p>
                    <p><strong>CPF:</strong> 000.000.000-00</p>
                    <p><strong>Email:</strong> mecanico@example.com</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal de Confirmação de Saída -->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="logoutModalLabel">Confirmar Saída</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Você tem certeza de que deseja sair?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <a href="/"><button type="button" class="btn btn-danger">Sair</button></a>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
<style>
    * {
        margin: 0;
        padding: 0;
        font-family: 'Arvo', serif;
        /* Use a fonte Arvo */
    }

    header {
        background-color: #000000;
        color: white;
        padding: 8px;
        text-align: center;
        position: relative;
    }

    header img {
        width: 200px;
        height: auto;
    }

    body {
        margin: 0;
        padding: 0;
        background-color: #ffffff;
        background-image: url('/img/oficina.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 100vh;
        position: relative;
        /* Necessário para o uso da pseudo-classe ::before */
    }

    body::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        /* Camada escura com 50% de opacidade */
        z-index: 1;
        /* Coloca a camada acima da imagem */
    }

    .title {
        text-align: center;
        font-size: 10px;
        margin: 80px auto 20px auto;
        /* Aumenta o margin-top para 40px */
        color: #ffffff !important;
        /* Garante que a cor seja branca */
        width: 80%;
        display: flex;
        justify-content: center;
        position: relative;
        /* Mantém o texto acima da sobreposição */
        z-index: 2;
        /* Garante que o texto esteja acima da sobreposição */

    }


    /* Certifique-se de que o conteúdo dentro do body esteja acima da sobreposição */
    header,
    .container,
    .content {
        position: relative;
        z-index: 2;
        /* Conteúdo acima da sobreposição */
        color: white;
        /* Ajuste a cor do texto para branco, se necessário */
    }


    .user-icon {
        position: absolute;
        top: 0px;
        right: 10px;
        width: 30px;
        height: 30px;
        background-color: #ffffff00;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .user-icon img {
        width: 40px;
        height: 40px;
        color: #fff;
        margin-top: 50px;
        margin-right: 150px;
        cursor: pointer;
    }

    .user-icon2 {
        position: absolute;
        top: 0px;
        right: 10px;
        width: 30px;
        height: 30px;
        background-color: #ffffff00;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .user-icon2 img {
        width: 35px;
        height: 35px;
        color: #fff;
        margin-top: 50px;
        margin-right: 60px;
    }

    .search-bar {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .search-bar .back-button {
        margin-right: 10px;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .search-bar .back-button img {
        width: 24px;
        height: 24px;
    }

    .search-bar .search-input-container {
        position: relative;
        width: 50%;
    }

    .search-bar input[type="text"] {
        width: 100%;
        padding: 10px 10px 10px 20px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 20px;
        outline: none;
    }

    .search-bar .search-input-container img {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        cursor: pointer;
    }


    /*cabecalho acima*/



    .container {
        display: flex;
        justify-content: center;
        /* Centraliza a container dos cards */
        margin-top: 70px;
    }

    .card-container {
        display: flex;
        justify-content: center;
        /* Centraliza os cards horizontalmente */
        flex-wrap: wrap;
        /* Permite que os cards quebrem para a próxima linha se necessário */
        width: 80%;
        gap: 20px;
        /* Reduz o espaçamento entre os cards */
    }

    .card-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        min-width: 150px;
        max-width: 200px;

        margin: 20px
    }

    .card-title {
        margin-top: 10px;
        text-align: center;
    }

    .card {
        background-color: #ffffff;
        border-radius: 5px;
        padding: 20px;
        text-align: center;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        width: 150px;
        height: 150px;
        transition: background-color 0.3s ease;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card:hover {
        background-color: #858585;
        color: #fff;
    }

    .card img {
        width: 50px;
        height: 50px;

    }



    @media (max-width: 768px) {
        .card-item {
            min-width: 120px;
        }

        .card {
            padding: 15px;
        }

        .card img {
            width: 40px;
            height: 40px;
        }

        .card-title {
            font-size: 14px;
        }
    }
</style>

</html>