<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutoFix - Reparos Automotivos</title>
    <link rel="icon" type="image/png"  href="/img/icone_logo3.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqk1w2xIRMq5RFAzM0V1QYHugoT0tK2d0Gm/AJl8MKC5HxY0Qlc/ZiaOqOz9h8o8PwUF61Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header class="text-white py-2">
        <img src="../img/logo.png" alt="Logo Autofix" class="img-fluid">
        <div class="login-dropdown" id="loginDropdown">
            <a href="#" class="login-button" id="loginButton">Fazer login</a>
            <div class="login-options" id="loginOptions">
                <button class="login-button" onclick="openModal('modalCliente')">Sou cliente</button>
                <button class="login-button" onclick="openModal('modalMecanico')">Sou mecânico</button>
                <button class="login-button" onclick="openModal('modalAdministrador')">Administrador</button>
            </div>
        </div>
    </header>

    <main>
        <section class="hero">
            <div class="container">
                <h1>Está procurando por reparos para seu automóvel?</h1>
                <p>A confiança que você procura e a qualidade que seu carro merece.</p>
            </div>
        </section>

        <section class="services">
            <div class="container">
                <div class="service">
                    <img src="../img/img1-login.png" alt="Imagem de um carro em manutenção preventiva">
                    <div class="texto-service">
                        <div class="titulo_service">
                            <h2>Manutenção Preventiva</h2>
                        </div>
                        <p>Na AutoFix, entendemos que a manutenção preventiva é um pilar fundamental para a longevidade
                            e o desempenho ideal do seu veículo. É por isso que nos dedicamos a implementar um processo
                            de manutenção que vai muito além de uma simples revisão. Nossa abordagem é cuidadosamente
                            planejada, sistemática e altamente especializada, garantindo que cada componente do seu
                            veículo seja inspecionado com a máxima precisão.
                            <br>
                            <br>
                            Nossa manutenção preventiva é realizada em intervalos regulares, de acordo com as
                            especificações do fabricante e as necessidades específicas do seu carro. Durante cada
                            visita, nossa equipe de técnicos altamente treinados executa uma série de procedimentos
                            detalhados, que incluem a verificação minuciosa de todos os sistemas do veículo, desde o
                            motor até a suspensão, freios, sistema elétrico, entre outros.
                            <br>
                            <br>
                            A filosofia da AutoFix é baseada na prevenção de problemas antes que eles se manifestem,
                            minimizando o risco de falhas inesperadas que podem resultar em custos elevados e até mesmo
                            comprometer a sua segurança. Através de nosso rigoroso processo de controle e monitoramento,
                            identificamos e corrigimos potenciais falhas em seus estágios iniciais, garantindo que seu
                            veículo permaneça em perfeitas condições de funcionamento.
                        </p>
                    </div>
                </div>
                <div class="service">
                    <img src="../img/img2-login.png" alt="Imagem de um carro em manutenção específica">
                    <div class="texto-service">
                        <div class="titulo_service">
                            <h2>Manutenção Específica</h2>
                        </div>
                        <p>Na AutoFix, compreendemos que cada veículo é único, com suas próprias características e
                            necessidades específicas. Não existem soluções universais quando se trata de manutenção
                            automotiva, e é por isso que adotamos uma abordagem personalizada para cada serviço que
                            oferecemos. Cada carro, seja ele um modelo compacto, um sedã de luxo, um SUV robusto ou um
                            veículo comercial, possui particularidades que exigem atenção cuidadosa e especializada.
                            <br>
                            <br>
                            Nossa equipe de técnicos altamente qualificados está equipada para lidar com qualquer tipo
                            de manutenção, desde as mais simples até as mais complexas. Entendemos que algumas situações
                            exigem uma análise detalhada e um tratamento específico para garantir que seu veículo
                            continue operando com segurança e eficiência. Esse cuidado personalizado pode envolver desde
                            ajustes finos em componentes de alta precisão até reparos específicos em sistemas críticos
                            que demandam um conhecimento técnico avançado.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="container">
            <div class="footer-content">
                <div class="contact">
                    <h3>Entre em contato</h3>
                    <ul>
                        <li><a href="tel:+5511987641234"> (11) 98764-1234 </a></li>
                        <li>Rua Ignácio Garcia, 321 - Jardim Suzano, São Paulo - SP</li>
                    </ul>
                </div>
                <div class="links">
                    <h3>Navegue</h3>
                    <ul>
                        <li><a href="#">Política de Privacidade</a></li>
                        <li><a href="#">Sobre nós</a></li>
                    </ul>
                </div>
                <div class="footer-content-img"><img src="img/logo.png" alt="Logo autofix"></div>
            </div>
        </div>
    </footer>

    <!-- Modal Cliente -->
    <div class="modal" id="modalCliente" style="display: none;">
        <div class="modal-content">
            <span class="close" onclick="closeModal('modalCliente')">×</span>
            <h2>Olá, Cliente</h2>
            <div class="icon">
                <img src="img/user-icon.png" alt="">
            </div>
            <div class="h4">
                <h4>Faça o seu Login</h4>
            </div>
            <form action="/loginCliente" method="post">
                <div class="form-group">
                    <label for="emailCliente">Email</label>
                    <input type="email" id="emailCliente" name="emailCliente" placeholder="Insira seu email">
                </div>
                <div class="form-group">
                    <label for="senhaCliente">Senha</label>
                    <input type="password" id="senhaCliente" name="senhaCliente" placeholder="Insira sua senha">
                </div>
                <div class="form-group">
                    <label for="id_oficina">Oficina</label>
                    <input type="number" id="id_oficina" name="id_oficina" placeholder="Insira o código da oficina">
                </div>
                <button type="submit" class="btn-primary">Entrar</button>
            </form>
        </div>
    </div>

    <!-- Modal Mecânico -->
    <div class="modal" id="modalMecanico" style="display: none;">
        <div class="modal-content">
            <span class="close" onclick="closeModal('modalMecanico')">×</span>
            <h2>Olá, Mecânico</h2>
            <div class="icon">
                <img src="img/user-icon.png" alt="">
            </div>
            <div class="h4">
                <h4>Faça o seu Login</h4>
            </div>
            <form action="/loginMecanico" method="post"> 
                <div class="form-group">
                    <label for="emailMecanico">Email</label>
                    <input type="email" id="emailMecanico" name="emailMecanico" placeholder="Insira seu email">
                </div>
                <div class="form-group">
                    <label for="senhaMecanico">Senha</label>
                    <input type="password" id="senhaMecanico" name="senhaMecanico" placeholder="Insira sua senha">
                </div>
                <div class="form-group">
                    <label for="id_oficina">Oficina</label>
                    <input type="number" id="id_oficina" name="id_oficina" placeholder="Insira o código da sua oficina">
                </div>
                <button type="submit" class="btn-primary">Entrar</button>
            </form>
        </div>
    </div>

    <!-- Modal Administrador -->
    <div class="modal" id="modalAdministrador" style="display: none;">
        <div class="modal-content">
            <span class="close" onclick="closeModal('modalAdministrador')">×</span>
            <h2>Olá, Administrador</h2>
            <div class="icon">
                <img src="img/user-icon.png" alt="">
            </div>
            <div class="h4">
                <h4>Faça o seu Login</h4>
            </div>
            <form action="/loginAdm" method="post">
                <div class="form-group">
                    <label for="emailAdm">Email</label>
                    <input type="email" id="emailAdm" name="emailAdm" placeholder="Insira seu email">
                </div>
                <div class="form-group">
                    <label for="senhaAdm">Senha</label>
                    <input type="password" id="senhaAdm" name="senhaAdm" placeholder="Insira sua senha">
                </div>
                <div class="form-group">
                    <label for="id_oficina">Oficina</label>
                    <input type="number" id="id_oficina" name="id_oficina" placeholder="Insira o código da sua oficina">
                </div>
                <button type="submit" class="btn-primary">Entrar</button>
            </form>
        </div>
    </div>

    <script>
        const loginButton = document.getElementById("loginButton");
        const loginOptions = document.getElementById("loginOptions");
        let isOpen = false; // Controla se o menu está aberto

        loginButton.addEventListener("click", function() {
            // Alterna o estado do menu
            isOpen = !isOpen;
            loginOptions.style.display = isOpen ? "block" : "none";

            // Se o menu estiver aberto, remova o timeout
            if (isOpen) {
                if (timeoutId) {
                    clearTimeout(timeoutId);
                }
            } else {
                // Se estiver fechando, inicie o timeout
                timeoutId = setTimeout(function() {
                    loginOptions.style.display = "none";
                    isOpen = false; // Atualiza o estado
                }, 6000);
            }
        });

        loginOptions.addEventListener("click", function(event) {
            event.stopPropagation(); // Impede o fechamento ao clicar nas opções
        });

        document.addEventListener("click", function(event) {
            if (!loginButton.contains(event.target) && !loginOptions.contains(event.target)) {
                loginOptions.style.display = "none";
                isOpen = false; // Atualiza o estado
                if (timeoutId) {
                    clearTimeout(timeoutId);
                }
            }
        });

        // Função para abrir o modal
// Função para abrir o modal
function openModal(modalId) {
    const modal = document.getElementById(modalId);
    if (modal) {
        modal.style.display = 'block';
        document.body.style.overflow = 'hidden'; // Desabilita o scroll da página

        // Adiciona evento de clique para fechar o modal se clicar fora do conteúdo
        modal.addEventListener('click', function(event) {
            if (event.target === modal) { // Verifica se o clique foi fora do conteúdo
                closeModal(modalId);
            }
        });
    }
}

        // Função para fechar o modal
        function closeModal(modalId) {
            const modal = document.getElementById(modalId);
            if (modal) {
                modal.style.display = 'none';
                document.body.style.overflow = ''; // Restaura o scroll da página
            }
        }

        // Adicione um evento de click para cada botão de login
        document.getElementById('loginCliente').addEventListener('click', function() {
            openModal('modalCliente');
        });

        document.getElementById('loginMecanico').addEventListener('click', function() {
            openModal('modalMecanico');
        });

        document.getElementById('loginAdministrador').addEventListener('click', function() {
            openModal('modalAdministrador');
        });

        // Adicione um evento de click para fechar o modal
        document.querySelectorAll('.close').forEach(function(close) {
            close.addEventListener('click', function() {
                const modal = close.parentNode.parentNode;
                closeModal(modal.id);
            });
        });
    </script>

</body>

<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f2f2f2;
        color: #333;
    }

    header {
        background-color: #000000;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #fff;
        padding: 1rem 0 1rem 1rem;
        height: 55px;
    }

    header .img-fluid {
        margin-right: 0px;
        transition: transform 0.3s ease;
    }

    header.img-fluid:hover {
        transform: scale(1.1);
    }

    header .img-fluid {
        display: flex;
        align-items: center;
    }

    header .img-fluid {
        height: auto;
        width: 200px;
    }

    nav {
        margin-left: auto;
        justify-content: center;
    }

    .container {
        margin: 0 auto;
        padding: 0 1rem;
    }

    .login-button {
        background-color: #333;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        display: inline-block;
        transition: background-color 0.3s ease, transform 0.3s ease;
    }

    .login-button:hover {
        background-color: #555;
        transform: scale(1.05);
    }

    .login-button:hover {
        background-color: #555;
    }

    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: inline-block;
    }

    nav li {
        display: inline-block;
        margin-left: 1rem;
    }

    nav a {
        color: #fff;
        text-decoration: none;
    }

    section {
        padding: 2rem 0;
    }

    .hero {
        background-color: #fff;
        padding: 4rem 0;
        text-align: center;
        position: relative;
    }

    .hero h1 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    .hero p {
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }

    .hero img {
        max-width: 100%;
        height: auto;
        z-index: 1;
    }

    .services {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 2rem;
    }

    .service {
        max-width: 1600px;
        background-color: #000000;
        color: #fff;
        padding: 1rem;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0.1);
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        gap: 20px;
        flex-direction: row;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .service:hover {
        transform: translateY(-10px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    }

    .service p {
        margin-top: 10px;
        padding: 0;
    }

    .service2 {
        background-color: #000000;
        color: #fff;
        padding: 2rem;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        flex: 1 1 5%;
    }

    .service h2 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .service p {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .service img {
        width: 100%;
        max-width: 40%;
        height: auto;
        border-radius: 5px;
        margin-right: 0%;
    }

    .texto-service {
        display: flex;
        flex-direction: column;
        max-width: 70%;
        padding-left: 20px;
    }

    footer {
        background-color: #000000;
        color: #fff;
        padding: 1rem 0;
        text-align: center;
        position: relative;
        overflow: hidden;
    }

    .footer-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0 1rem;
    }

    .contact,
    .links,
    .copyright {
        flex: 1 1 30%;
        text-align: left;
        margin-bottom: 1rem;
    }

    .contact h3,
    .links h3 {
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }

    .contact ul,
    .links ul {
        list-style: none;
        padding: 0;
    }

    .contact li,
    .links li {
        margin-bottom: 0.5rem;
    }

    .contact a,
    .links a {
        color: #fff;
        text-decoration: none;
        font-size: 0.9rem;
        transition: text-decoration 0.3s ease;
    }

    .footer-logo {
        position: absolute;
        bottom: 0.5rem;
        right: 0.5rem;
    }

    .contact a:hover,
    .links a:hover {
        text-decoration: underline;
    }

    .titulo_service {
        background-color: #C75353;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 10px;
    }

    .titulo_service h2 {
        color: #fff;
        margin: 0;
    }

    .img-service {
        align-items: center;
    }

    .login-dropdown {
        position: relative;
        padding: 1rem;
        margin-right: 30px;
    }

    .login-button {
        position: relative;
        background-color: #333;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        text-decoration: none;
    }

    .login-button:hover {
        background-color: #555;
    }

    .login-options {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #333;
        color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        z-index: 100;
        width: 200px;
    }

    .login-options button {
        display: block;
        width: 100%;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        text-align: left;
        margin-bottom: 5px;
        background-color: #333;
        color: #fff;
        opacity: 1;
        transition: background-color 0.3s ease;
    }

    .login-options button:hover {
        background-color: #555;
    }

    .hero {
        background-image: url("img/img3-login.jpeg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 4rem 0;
        text-align: center;
        overflow: hidden;
        color: #fff;
        position: relative;
    }

    .hero:hover::before {
        opacity: 1;
    }

    .hero h1,
    .hero p {
        position: relative;
        z-index: 1;
    }

    /* Estilos gerais para o modal */
    .modal {
        display: none;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .modal-content {
        background-color: #fff;
        border-radius: 10px;
        padding: 30px;
        width: 100%;
        max-width: 350px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        position: relative;
        margin: auto;
        transform: translate(0, -50%);
        top: 50%;
        text-align: initial;
    }

    .modal-content h2 {
        margin-top: 0;
        font-size: 22px;
        color: #333;
        text-align: center;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .form-group label {
        display: block;
        margin-bottom: 10px; /* Aumente o espaçamento entre o label e o input */
        font-weight: bold;
        color: #555;
    }

    .form-group input {
        flex: 1;
        padding: 8px;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: 16px;
        box-sizing: border-box;
        margin-bottom: 15px; /* Aumente o espaçamento entre os inputs */
    }

    .input-group {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .input-group label {
        width: 90px;
        text-align: left;
        margin-right: 10px;
    }

    .input-group input {
        flex: 1;
    }

    .btn-primary {
        width: 100%;
        padding: 8px;
        background-color: #000000;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;
        margin-top: 12px;
    }

    .btn-primary:hover {
        background-color: #333;
    }

    /* Estilo do botão de fechar */
    .close {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 20px;
        color: #aaa;
        cursor: pointer;
        transition: color 0.3s;
    }

    .close:hover {
        color: #333;
    }

    .icon {
        align-items: center;
        justify-content: center;
        display: flex;
        font-size: 20px;
    }

    .h4 {
        margin: 0;
        font-size: 18px;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    footer .footer-content-img img {
        width: 200px;
        height: auto;
    }

    footer .footer-content-img:hover img {
        transform: scale(1.1);
    }

    @media (max-width: 768px) {
        .form-group {
            width: 100%;
        }
    }

    @media screen and (max-width: 1020px) {
        header .img-fluid {
            width: 120px;
        }

        .login-dropdown {
            padding: 1rem 1rem;
            margin-right: 0px;
        }

        footer .footer-content-img img {
            width: 120px;
        }

        .login-button {
            padding: 1rem 1rem;
            font-size: 1rem;
            text-align: center;
        }

        .service {
            flex-direction: column;
        }

        .service img {
            width: 100%;
            max-width: 100%;
            height: auto;
        }

        .titulo_service {
            padding: 1rem;
        }

        .titulo_service h2 {
            font-size: 1rem;
            text-align: center;
        }

        .texto-service {
            max-width: 100%;
            padding-left: 0px;
        }

        .modal-content {
            padding: 15px;
            width: 90%;
            max-width: none;
        }

        .modal-content h2 {
            font-size: 20px;
        }

        .form-group input {
            padding: 8px;
            font-size: 14px;
        }

        .input-group label {
            width: auto;
            margin-right: 5px;
        }

        .btn-primary {
            padding: 8px;
            font-size: 14px;
        }
    }
</style>

</html>