body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 90%;
    max-width: auto;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

h2 {
    text-align: center;
    color: #000000;
    margin-top: 30px;
    background-color: #c7c7c7;
    border-radius: 5px;
}

h4 {
    margin-right: 30px;
    color: #ffffff;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 60px;
    margin-left: 20px;
}

.welcome {
    font-size: 16px;
    color: #555;
}

.checklist {
    margin-bottom: 20px;
}

.item-group {
    margin-bottom: 10px;
}

.item-group h3 {
    margin-top: 0;
}

.item-list {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-bottom: 5px;
}

.item-name {
    flex: 1;
}

.item-status {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
}

.item-status select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
    appearance: none;
    background-color: #fff;
}

.legends {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.legend-group {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.legend-group input {
    margin-right: 5px;
}

.legend-group label {
    margin-right: 10px;
}

.button {

    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    margin: 0 auto;
    justify-content: center;
}