body {
    font-family: 'Arvo', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Define a cor de fundo da página */
  }
  
  header {
    background-color: #ccc; /* Define a cor de fundo do cabeçalho */
    padding: 10px;
    text-align: center;
  }

  header h1 {
    margin: 0; /* Remove a margem do título do cabeçalho */
  }
  
  nav {
    display: flex;
    justify-content: flex-end; /* Alinha os ícones para o lado direito */
    padding: 10px;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav li {
    margin-left: 10px; /* Adiciona margem à esquerda para separar os ícones */
  }
  
  .buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px; /* Adiciona margem superior para separar os botões */
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px; /* Define o raio da borda para arredondar os cantos */
    background-color: #007bff; /* Define a cor de fundo do botão */
    color: white; /* Define a cor do texto do botão */
    cursor: pointer;
  }
  
  button:hover {
    opacity: 0.8; /* Diminui a opacidade do botão ao passar o mouse */
  }

  .botao-veiculo {
    
  }
